[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
rich = "*"
prettyprint = "*"
requests = "*"
clipboard = "*"
ht = {editable = true, path = "."}
hsg = {editable = true, path = "."}
tabulate = "*"
wcwidth = "*"

[dev-packages]

[requires]
python_version = "3.8"
